/* Basic Selectors */

h1 {
    color: lightpink;
}

h2 {
    color: rgb(19, 240, 166);
}

p {
    color: lightgreen;
}

#one {
    color: blue;
}

#five {
    color: red;
}

.six {
    color: rosybrown;
    text-decoration: burlywood;
}

/* Highly preference to id then class then tag. */

h5 {
    color: red;
}

#unit {
    color: green;
}

.sec {
    color: black;
}